/* Forms =================================================================== */

/**
 1. Correct the margin and padding in all browsers.
 */

form,
fieldset {
    margin: 0; /* 1 */
    padding: 0; /* 1 */
}

/**
 1. Correct the text wrapping in Edge and IE.
 */

legend {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    white-space: normal;
}

/**
 1. Remove the margin in Firefox and Safari.
 2. Change the font styles in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 1 */
    font-family: inherit; /* 2 */
    font-size: 100%; /* 2 */
    line-height: 1; /* 2 */
}

/**
 1. Show the overflow in Edge.
 */

button,
input {
    overflow: visible; /* 1 */
}

/**
 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    text-transform: none; /* 1 */
}

/**
 1. Correct the inability to style clickable types in iOS and Safari.
 2. Remove the inner border and padding in Firefox.
 3. Restore the focus styles unset by the previous rule.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 1 */

    &::-moz-focus-inner {
        border-style: none; /* 2 */
        padding: 0; /* 2 */
    }

    &:-moz-focusring {
        outline: 1px dotted ButtonText; /* 3 */
    }
}

/**
 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline; /* 1 */
}

/**
 1. Remove the block vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto; /* 1 */
}

/**
 1. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    padding: 0; /* 1 */
}

/**
 1. Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto; /* 1 */
}

/**
 1. Correct the odd appearance in Chrome and Safari.
 2. Correct the outline style in Safari.
 3. Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */

    &::-webkit-search-decoration {
        -webkit-appearance: none; /* 3 */
    }
}

/**
 1. Correct the inability to style clickable types in iOS and Safari.
 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}