/* Document ================================================================ */
/**
 1. Reset box-sizing in all browsers.
 2. Reset borders in all browsers.
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-style: solid; /* 2 */
  border-width: 0; /* 2 */
}

/* Document ================================================================ */
/**
 1. Correct the line height in all browsers.
 2. Prevent adjustments of font size after orientation changes in iOS.
 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}
